.container{
    background: linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.822)), url(../../../public/images/14.jpg) ;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.container h3{
    text-align: center;
    font-family: atomic age;
    text-decoration: underline;
    font-size: 18px;
}
.container .bars p{
    text-align: center;
    font-size: 10px;
}
.container .bars article{
    padding: 10px 30px;
}




@media screen and (max-width: 768px){
    .container{
        transform: skew(0deg, 8deg);
        /* background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.596)), url(../../Images/14.jpg) right; */
        z-index: 5;
        position: relative;
    }
    .container .container{
        transform: skew(0deg, -8deg);
    }
    .container .bars .bar{
        background-color:#fff;
    }
    .container .bars article{
        padding: 10px 95px;
    }
    .container .bars h3{
        font-size: 2re;
        margin-top: 0;
    }
    .container .bars .bar{
        box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.657);
    }
}

@media screen and (max-width: 556px){
    .container .bars .bar{
        margin: .5rem 1rem;
    }
    .container .bars .bar .col{
        padding: 3rem 5rem;
        animation: test2 2s ease;
    }

    @keyframes test2 {
        0%{
            transform: translateY(5rem);
        }
        100%{
            transform: translateY(0rem);
        }
    }
}