.container{
    background: linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.822)), url(../../../public/images/14.jpg) ;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.container h3{
    text-align: center;
    font-family: atomic age;
    text-decoration: underline;
    font-size: 16px;
}
.innerContainerTwo> div{
    padding: 0px 5px;
}
.innerContainerTwo> div div{
    padding: 20px 20px;
}

@media screen and (min-width: 768px){
}


@media screen and (max-width: 768px){
    .container{
        z-index: 5;
        position: relative;
    }
    .innerContainerTwo> div{
        padding: 10px 5px;
    }
    .innerContainerTwo> div div{
        padding: 0px 35px;
    }
    .container h3{
        font-size: 12px;
    }
}








/* @media screen and (max-width: 556px){
    .container .bars .bar{
        margin: .5rem 1rem;
    }
    .container .bars .bar .col{
        padding: 3rem 5rem;
        animation: test2 2s ease;
    }

    @keyframes test2 {
        0%{
            transform: translateY(5rem);
        }
        100%{
            transform: translateY(0rem);
        }
    }
} */