
.container{
    min-height: 400px;
    padding: 30px 6%;
    overflow: hidden;
    border-bottom: 1px solid skyblue;
}
.title{
    font-family: 'Atomic Age';
    text-align: center;
    /* text-decoration: underline; */
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0;
}
.title::after,
.title::before{
    content: "";
    width: 15%;
    height: 3px;
    display: inline-block;
    margin-bottom: 9px;
    border-radius: 5px;
    background-color: black;
}
.btn{
    padding: 1px 10px !important;
    font-family: 'Atomic Age', cursive !important;
    font-weight: 100 !important;
    text-transform: inherit !important;
}