
.container{
    min-height: 400px;
    padding: 30px 6%;
    overflow: hidden;
    border-bottom: 5px solid rgb(0, 202, 209);
}
.title{
    font-family: 'Atomic Age';
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
}
.btn{
    /* color: #fff !important; */
    padding: 1px 10px !important;
    font-family: 'Atomic Age', cursive !important;
    font-weight: 100 !important;
    text-transform: inherit !important;
}